.container  {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.container .row {
  margin: 0 auto;
}

#login_form {
  width: 400px !important;
}

#login_form button {
  display: block;
  margin: 0 auto;
}

#login_form input {
  margin: 10px 0 !important;
}